
.yellow {
    color: #ffde59;
}

/* BACKGROUNDS */

header{
        background: no-repeat 25% 0% / cover url("../img/Kelidoine/moon.jpg");
        filter: drop-shadow(16px 16px 20px #1a6eab);
        transition: 5s;
}

header:hover{
    background: no-repeat 25% 45% / cover url("../img/Kelidoine/moon.jpg");
    animation: none;
}