.yellow {
    color: #ffde59;
}

/* BACKGROUNDS */

header{
        background: no-repeat 25% 0% / cover url("../img/kelidoine/moon.jpg");
        filter: drop-shadow(0 16px 20px #1a6eab);
}

header:hover{
    background: no-repeat 25% 45% / cover url("../img/kelidoine/moon.jpg");
}

.navoptions{
    text-shadow: white 0px 0px 3px;
}

.navbarre:last-of-type .navoptions:last-of-type:hover, #burgerContain li:last-of-type a:hover{
    background: right / 70% no-repeat url(../img/pisserotte/deco.png) rgb(255, 255, 255, 0.5)!important;
}

/*#burgerContain ul{
    list-style: url("../img/kelidoine/deco-list.png");
}
*/
label input:checked + .menu {
    box-shadow: 0 0 0 100vw #2474af, 0 0 0 100vh #2474af;
}