.backyellow {
    background-color: #ffde59;
}

.yellow {
    color: #ffde59;
}


#logo img {
    border-left: solid 1px #ffde59;
    border-right: solid 1px #ffde59;
}

section{
    background: no-repeat center / cover url("../img/IMG_6801.jpg");
}

header{
    background: none;
    filter:none;
}