.blue {
    color: rgb(0,74,173);
}

/* BACKGROUNDS */

header{
    background: no-repeat 50% 40% / cover url("../img/pisserotte/sunset.jpg");
    filter: drop-shadow(0 16px 20px #fed482);
}

@media screen and (max-width: 500px) {
    header{
        background: no-repeat 50% 75% / cover url("../img/pisserotte/sunset.jpg");
    }
}

header:hover{
    background: no-repeat 25% 63% / cover url("../img/pisserotte/sunset.jpg");
}

.navoptions{
    text-shadow: black 0px 0px 3px;
}

.navbarre:last-of-type .navoptions:last-of-type:hover, #burgerContain li:last-of-type a:hover{
    background: right / 50% no-repeat url(../img/kelidoine/deco.png) rgb(255, 255, 255, 0.5)!important;
}

/*#burgerContain ul{
    list-style: url("../img/pisserotte/deco-list.png");
}*/

#burgerContain input:checked + .menu {
    box-shadow: 0 0 0 120vw #FDA94D, 0 0 0 120vh #FDA94D;
}

#burgerContain a{
    text-shadow: black 0px 0px 3px;
}

#arrowUpContain{
    background-color: #fed482;
}