.blue {
    color: rgb(0,74,173);
}

/* BACKGROUNDS */

header{
    background: no-repeat 25% 40% / cover url("../img/pisserotte/sunset.jpg");
    filter: drop-shadow(0 16px 20px #fed482);
}

header:hover{
    background: no-repeat 25% 63% / cover url("../img/pisserotte/sunset.jpg");
}

.navoptions{
    text-shadow: black 0px 0px 3px;
}

.navbarre:last-of-type .navoptions:last-of-type:hover{
    background: right / 50% no-repeat url(../img/kelidoine/deco.png) rgb(255, 255, 255, 0.5)!important;
}