/* INDEX */

* {
    font-family: 'Oswald', sans-serif;
}

.flex{
    display: flex;
}

section:not(#menu){
    width: 100%;
    margin-top: 30px;
    overflow: hidden;
    padding: 50px;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

section h2{
    width: fit-content;
    border-bottom: 1px solid black;
}

.none{
    display: none;
}

/* ACCEUIL (INDEX) */

.imgaccueil{
    height: 100vh;
    transition: 0.3s;
    width: 40%;
    position: relative;
}

.imgaccueil:hover{
    width:50%;
}

.middle{
    width:20%;
    margin: 0 1px;
}

.middle h2{

    margin-left: -73px !important;
}

.middle:hover{
    width:35%;
}

.pages h2{
    position: absolute;
    bottom: 50%;
    left:50%;
    margin-left: -110px;
    color: white;
    text-shadow: black 2px 2px 2px;
    font-family: 'Oswald', sans-serif;
    border-top: solid black 5px;
    border-bottom: solid black 5px;
    border-radius: 15px;
    background: rgb(0,0,0,0.15);
    padding: 0 10px 10px 10px;
    object-position: 50% 50%;
}

.pages h2::first-letter{
    font-family: 'Playball', cursive;
    font-size: 2em;
    margin-right: 6px;
}

.pages a:nth-of-type(2) h2::first-letter{
    font-family: 'Oswald', sans-serif;
}

/* INDEX PAGES */

/* HEADER */

header{
    width: 100%;
    transition: 5s;
    z-index: 5;
}

header a{
    text-decoration: none;
}

header a:hover{
    color:white;
}

nav{
    margin:auto;
    width: 100%;
    position: relative;
    z-index: 1;
    cursor: pointer;
}

#logo img{
    width: 250px;
    margin: auto;
    border-left: solid 1px white;
    border-right: solid 1px white;
    border-radius: 50%;
    transition: 0.2s;
}

.active nav img{
    width: 100px !important;
}

.activeF{
    height: 100px !important;
}

.navbarre{
    height: 1.5px;
    position: absolute;
    width:0%;
    top: 50%;
    transition: 1s;
    background-color: white;
}

.navbarre:first-of-type{
    right:50%;
    margin-right: 125px;
}

.navbarre:last-of-type{
    left: 50%;
    margin-left: 125px;
}

header:hover .navbarre{
    width: calc(50% - 125px);
}

header:hover .navoptions{
    opacity: 1;
}

.navoptions {
    opacity: 0;
    position: absolute;
    z-index: 99;
    font-family: 'Montserrat Alternates', sans-serif;
    -webkit-text-stroke: 0.1px black;
    text-shadow: black 0px 0px 2px;
    font-size: 1em;
    transition: 0.2s;
    white-space: nowrap;
}


.navbarre:first-of-type .navoptions:nth-child(2n+1),
.navbarre:last-of-type .navoptions:nth-child(2n+1)
 {
    top: -30px;
}

.navbarre:first-of-type .navoptions:nth-child(2n),
.navbarre:last-of-type .navoptions:nth-child(2n)
 {
    bottom: -30px;
}


/* BARRE GAUCHE */

.navbarre:first-of-type .navoptions:first-of-type{
    right: 15%;
}

.navbarre:first-of-type .navoptions:nth-of-type(2){
    right: 40%;
}

.navbarre:first-of-type .navoptions:last-of-type{
    right: 70%;
}

/* BARRE DROITE */

.navbarre:last-of-type .navoptions:first-of-type{
    left: 15%;
}

.navbarre:last-of-type .navoptions:nth-of-type(2){
    left: 40%;
}

.navbarre:last-of-type .navoptions:last-of-type{
    left: 70%;
}

/* FOOTER */

footer{
    text-align: center;
    margin: auto;
    flex-direction: column;
    color: white;
    padding: 0 70px;
    letter-spacing: 0.5px;
    background: no-repeat center / cover url("../img/couverture.jpg");
    box-shadow: 0 0 0 200px rgb(0,0,0,40%) inset;
    filter: grayscale(50%) drop-shadow(0 0px 40px #6f5b39);
    transition: 0.2s;
}

footer h2, footer p{
    margin: 10px 0;
    position: relative;
}

footer h2::after{
    content: "";
    background-color: white;
    height: 1px;
    width: 100px;
    position: absolute;
    bottom: -7px;
    left: 50%;
    margin-left: -50px;

}

.menu li{
    margin-right: 20px;
}

.menu{
    margin: auto;
}

footer a{
    color: white;
}

.reseaux{
    display: flex;
    margin:  20px auto 0 auto;
    gap: 20px;
}

.reseaux li {
    width: 30px;
    transition: 0.2s;
}

.reseaux li:hover{
    transform: scale(1.1);
}

/* INDEX PAGE ACCUEIL */

.pAcc{
    margin: 50px 50px;
    text-align: center;
}






/* CARROUSSEL */ 

#carroussel{
    position: relative;
    height: 600px;
    display: flex;
    justify-content: center;
}

#carroussel li{
    position: absolute;
    width: 100%;
    max-width: 800px;
    margin: auto;
    
}

#carroussel figure{
    position: relative;
    border: 2px black solid;
}

#carroussel li:first-of-type figure{
    animation: animation-carte-1 19.5s 0s infinite;
}

#carroussel li:nth-of-type(2) figure{
    animation: animation-carte-2 19.5s 0s infinite;
}

#carroussel li:nth-of-type(3) figure{
    animation: animation-carte-3 19.5s 0s infinite;
}

@keyframes animation-carte-1 {
    0% {
        opacity: 0;
        transform: translateX(50%);
    }

    2.25% {
        opacity: 1;
        transform: translateX(0);
    }

    33% {
        opacity: 1;
        transform: translateX(0);
    }

    35.25% {
        opacity: 0;
        transform: translateX(-50%);
    }

    100% {
        opacity: 0;
        transform: translateX(-50%);
    }
}

@keyframes animation-carte-2 {
    0% {
        opacity: 0;
        transform: translateX(50%);
    }

    35.25% {
        opacity: 0;
        transform: translateX(50%);
    }

    37.5% {
        opacity: 1;
        transform: translateX(0);
    }

    66% {
        opacity: 1;
        transform: translateX(0);
    }

    68.25% {
        opacity: 0;
        transform: translateX(-50%);
    }

    100% {
        opacity: 0;
        transform: translateX(-50%);
    }
}

@keyframes animation-carte-3 {
    0% {
        opacity: 0;
        transform: translateX(50%);
    }

    68.25% {
        opacity: 0;
        transform: translateX(50%);
    }

    70.5% {
        opacity: 1;
        transform: translateX(0);
    }

    97.75% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(-50%);
    }
}

/* NOTES */

#notesBloc{
    margin-top: 50px;
}

#notes{
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0;
    align-items: center;
    flex-wrap: wrap;
}

#notes figure{
    width: 140px;
}

#notes li:first-of-type{
    width: 100%;
    margin: 20px 0;
}

#notes li:last-of-type{
    margin-top: -20px;
}

#notes li:last-of-type figure{
    width: 180px;
    height: 40px;
}

#notes li:nth-of-type(3) figure{
    width: 110px;
}

#notes li:nth-of-type(3) figcaption{
    margin-top: 10px;
    margin-left: -25px;
    width: 180px;
}

#notes li:nth-of-type(4){
    margin-top: 20px;
}



/* Residence */

.flexResi{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    padding: 20px 0;
}

.flexResi figure{
    text-align: center;
    width: 100px;
}

.flexResi figure img{
    height: 32px;
    margin: auto;
    width: unset;
}

.flexResi figcaption{

}

/* test caroussel */ 

@keyframes scroll {
    0% {
        transform: translateX(0);
   }
    50% {
        transform: translateX(-36%);
   }
    100% {
    transform: translateX(0);
    }
}
.slider {
    background: white;
    height: 100%;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.slider::before, .slider::after {
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
}
.slider::before {
    left: 0;
    top: 0;
}
.slider .slide-track {
    animation: scroll 15s linear infinite;
    display: flex;
    width: 150%;
    justify-content: space-around;
}
.slider .slide {
    height: 100px;
    width: 250px;
}


/* FORMULAIRE DE CONTACT */

#contact{

    display: flex;
    flex-direction: column;
    gap: 10px;

}

#contact input[type="submit"]{

    width: 150px;
    margin: 20px auto;
    cursor: pointer;

}