/* INDEX */

* {
    font-family: 'Montserrat', cursive;
}

p{
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4{
    font-family: 'Montserrat', cursive;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1px;
}

.firstLetter{
    /*font-family: 'Annie Use Your Telescope';*/
}

section:not(#menu){
    width: 100%;
    overflow: hidden;
    padding: 50px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
}

section:not(#menu) h2{
    width: fit-content;
    margin-bottom: 25px;
    font-size: 2.5em;
    font-family: 'Annie Use Your Telescope', cursive;
}

.none{
    display: none;
}

/* ACCEUIL (INDEX) */

.imgaccueil{
    height: 100vh;
    transition: 0.3s;
    width: 40%;
    position: relative;
}

.imgaccueil:hover{
    width:50%;
}

.middle{
    width:20%;
}

.middle:hover{
    width:35%;
}

.pages h2{
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    text-shadow: black 2px 2px 2px;
    font-family: 'Oswald', sans-serif;
    border-top: solid black 5px;
    font-size: 1.5em;
    border-bottom: solid black 5px;
    border-radius: 15px;
    background: rgb(0,0,0,0.50);
    padding: 0 10px 10px 10px;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

.pages h2::first-letter{
    font-family: 'Playball', cursive;
    font-size: 2em;
    margin-right: 6px;
}

.pages a:nth-of-type(2) h2::first-letter{
    font-family: 'Oswald', sans-serif;
}

/* INDEX PAGES */

/* HEADER */

header{
    width: 100%;
    transition: 2s ease;
    z-index: 5;
}

header a{
    text-decoration: none;
}

header a:hover, #burgerContain a:hover{
color: white;
}

nav{
    margin:auto;
    width: 100%;
    position: relative;
    z-index: 1;
    cursor: pointer;
    overflow-x: hidden;
    overflow-y: visible;
}

#logo img{
    width: 250px;
    margin: auto;
    border-left: solid 1px white;
    border-right: solid 1px white;
    border-radius: 50%;
    transition: 0.2s;
}

.active nav img{
    width: 100px !important;
}

.activeF{
    height: 100px !important;
}

.navbarre{
    height: 1.5px;
    position: absolute;
    width:0%;
    top: 50%;
    transition: 1s;
    background-color: white;
}

.navbarre:first-of-type{
    right:50%;
    margin-right: 125px;
}

.navbarre:last-of-type{
    left: 50%;
    margin-left: 125px;
}

header:hover .navbarre{
    width: calc(50% - 125px);
}

header:hover .navoptions{
    opacity: 1;
    animation: 2s;
    transition-delay: 250ms;
}

.navoptions {
    opacity: 0;
    position: absolute;
    z-index: 99;
    -webkit-text-stroke: 0.1px black;
    font-size: 1.5em;
    transition: 0.2s;
    white-space: nowrap;
    padding: 2px 15px;
    font-family: 'Annie Use Your Telescope', cursive;
}


.navbarre:first-of-type .navoptions:nth-child(2n+1),
.navbarre:last-of-type .navoptions:nth-child(2n+1)
 {
    top: -40px;
}

.navbarre:first-of-type .navoptions:nth-child(2n),
.navbarre:last-of-type .navoptions:nth-child(2n)
 {
    bottom: -40px;
}


/* BARRE GAUCHE */

.navbarre:first-of-type .navoptions:first-of-type{
    right: 0;
}

.navbarre:first-of-type .navoptions:nth-of-type(2){
    right: 45%;
    transform: translate(50%);
}

.navbarre:first-of-type .navoptions:last-of-type{
    left: 20px;
}

/* BARRE DROITE */

.navbarre:last-of-type .navoptions:first-of-type{
    left: 0;
}

.navbarre:last-of-type .navoptions:nth-of-type(2){
    left: 55%;
    transform: translate(-50%);
}

.navbarre:last-of-type .navoptions:last-of-type{
    right: 20px;
    background: rgb(255, 255, 255, 0.5);
    border-radius: 7px 7px 0 0;
}


/* FOOTER */

footer{
    text-align: center;
    margin: auto;
    flex-direction: column;
    color: white;
    padding: 0 70px;
    letter-spacing: 0.5px;
    background: no-repeat center / cover url("../img/couverture.jpg");
    box-shadow: 0 0 0 200px rgb(0,0,0,40%) inset;
    filter: grayscale(50%) drop-shadow(0 0px 40px #6f5b39);
    transition: 0.2s;
}

footer h2, footer p{
    margin: 30px 0;
    position: relative;
}

footer h2::after{
    content: "";
    background-color: white;
    height: 1px;
    width: 100px;
    position: absolute;
    bottom: -7px;
    left: 50%;
    margin-left: -50px;

}

.menu li{
    margin-right: 20px;
}

.menu{
    margin: auto;
}

footer a{
    color: white;
}

footer .underline:after{
    background-color: white;
}

.reseaux{
    display: flex;
    margin:  20px auto 0 auto;
    gap: 20px;
}

.reseaux li {
    width: 30px;
    transition: 0.2s;
}

.reseaux li:hover{
    transform: scale(1.1);
}

/* INDEX PAGE ACCUEIL */

.pAcc{
    margin: 50px 50px;
    text-align: center;
}






/* CARROUSSEL */ 

#carroussel{
    position: relative;
    height: 600px;
    display: flex;
    justify-content: center;
}

#carroussel li{
    position: absolute;
    width: 100%;
    max-width: 800px;
    margin: auto;
    
}

#carroussel li img{
    max-height: 600px;
}

#carroussel figure{
    position: relative;
    box-shadow: 0 0 20px black;
    border-radius: 11px;
    overflow: hidden;
}

#carroussel li:first-of-type figure{
    animation: animation-carte-1 14s 0s infinite;
}

#carroussel li:nth-of-type(2) figure{
    animation: animation-carte-2 14s 0s infinite;
}

#carroussel li:nth-of-type(3) figure{
    animation: animation-carte-3 14s 0s infinite;
}

@keyframes animation-carte-1 {
    0% {
        opacity: 0;
        transform: translateX(50%);
    }

    2.25% {
        opacity: 1;
        transform: translateX(0);
    }

    33% {
        opacity: 1;
        transform: translateX(0);
    }

    35.25% {
        opacity: 0;
        transform: translateX(-50%);
    }

    100% {
        opacity: 0;
        transform: translateX(-50%);
    }
}

@keyframes animation-carte-2 {
    0% {
        opacity: 0;
        transform: translateX(50%);
    }

    35.25% {
        opacity: 0;
        transform: translateX(50%);
    }

    37.5% {
        opacity: 1;
        transform: translateX(0);
    }

    66% {
        opacity: 1;
        transform: translateX(0);
    }

    68.25% {
        opacity: 0;
        transform: translateX(-50%);
    }

    100% {
        opacity: 0;
        transform: translateX(-50%);
    }
}

@keyframes animation-carte-3 {
    0% {
        opacity: 0;
        transform: translateX(50%);
    }

    68.25% {
        opacity: 0;
        transform: translateX(50%);
    }

    70.5% {
        opacity: 1;
        transform: translateX(0);
    }

    97.75% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(-50%);
    }
}

/* NOTES */

#notesBloc{
    margin-top: 50px;
}

#notes{
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0;
    align-items: center;
    flex-wrap: wrap;
}

#notes figure{
    width: 140px;
}

#notes li:first-of-type{
    width: 100%;
    margin: 20px 0;
}

#notes #abritel{
    margin-top: -20px;
    width: 180px;
    height: 40px;
}


#notes #airbnb{
    width: 110px;
}

#airbnb figcaption{
    margin-top: 10px;
    margin-left: -25px;
    width: 180px;
}

#booking{
    margin-top: 20px;
}



/* Residence */

.flexResi{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    padding: 20px 0;
}

.flexResi:not(.slider .flexResi){
    flex-wrap: wrap;
    gap: 20px;
}


.flexResi figure{
    text-align: center;
    width: 180px;
}

.flexResi figure img{
    height: 32px;
    margin: auto;
    width: unset;
}


/* test caroussel */ 

@keyframes scroll {
    0% {
        transform: translateX(50%);
   }
    50% {
        transform: translateX(-50%);
   }
    100% {
    transform: translateX(50%);
    }
}
.slider {
    background: white;
    height: 100%;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
    
}

.slider .slide-track {
    display: flex;
    width: 150;
    justify-content: space-around;
    animation: scroll 15s linear infinite;
}


/* FORMULAIRE DE CONTACT */

#contact{

    display: flex;
    flex-direction: column;
    gap: 10px;

}

#contact input[type="submit"]{

    width: 150px;
    margin: 20px auto;
    cursor: pointer;

}

/* Page activité */

#actContain{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 50px;
}


#actContain a{
    font-weight: bold;
    font-style: italic;
}

#actContain ul{
    list-style: inside url("../img/the-vert.png");
}

#actContain div h3{
    margin-bottom: 20px;
}

#containMontignyPic{
    width: 65%;
    margin: 30px auto;
    border-radius: 5px;
    box-shadow: 0 0 25px black;
    overflow: hidden;
}

#containMontignyPic img{
    object-fit: contain;
}

/* Page galerie */

.picGalerie{
    width: 100%;
    height: 100%;
    margin: unset;
}

#picSelected{
    width: 60%;
    max-height: 95%;
    height: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 50px white;
}

#picContain{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 15px;
    justify-content: space-around;
    border-radius: 18px;
    background-color: lightgrey;
    box-shadow: 0 0 20px white inset;
}

#picContain > li:not(:first-child){
    width: 200px;
    height: 250px;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 0 20px white;
    position: relative;
}
        

#picContain > li:first-child{
    width: 100%;
}

#picContain > li:not(:first-of-type):hover{
    transform: scale(1.03);
}

#picContain li figure{
    cursor: pointer;
}

#titles{
    width: 100%;
    display: flex;
    gap: 5px;
    justify-content: center;
    margin: 20px 0;
}

#titles a{
    transition: 0.2s;
    color: white;
    font-size: 1.1em;
    padding: 5px;
}

#titles a:hover{
    color: white;
}

#diapoBox{
    width: 100% !important;
    height: 100% !important;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    background-color: RGB(54, 54, 54, 0.9);
    transition: 0.2s;
    align-items: center;
    justify-content: space-evenly;
    display: none;
}

.activeDia{
    display: flex;
}

#picContain #diapoBox figure{
    cursor: default;
}

#picContain #diapoBox:hover{
    transform: scale(1);
}

.arrowPic{
    background-position: center;
    background-size: 124%;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    transition: 0.2s;
    width: 4%;
    box-shadow: 0 0 30px white;
}

.arrowPic:hover{
    transform: scale(0.90);
}

.arrowPic:nth-of-type(2){
    transform: rotate(180deg);
}

.arrowPic:nth-of-type(2):hover{
    transform: rotate(180deg) scale(0.90);
}
#closer{
    position: absolute;
    content: '';
    top: 20px;
    right: 0;
    margin-right: 32px;
    width: 32px;
    height: 32px;
    background: #8d0000 url('../img/close.png');
    background-size: 114%;
    background-position: center;
    transform: rotate(180deg);
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
    box-shadow: 0 0 10px white;
}

#closer:hover{
    transform: scale(0.90);
}


/* Soulignement */

.underline:not(.navoptions) {
    position: relative;
  }
  .underline:after {
    content: '';
    transform-origin: 50%; 
    transform: scaleX(0);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1.5px; 
    z-index: 0;
    opacity: 0.8;
    transition: .3s;
    background-color: black;
  }

  .X:after{
    top: 0;
  }

  .Y:after{
    bottom: 0;
  }

  .X:hover::after, .Y:hover:after, #burgerContain a:hover:after{
    background: white;
  }
  .underline:hover:after {
    transform: scaleX(1);
  }

.yellow:after{
    background: #ffde59;
}

.blue:after{
    background: rgb(0,74,173);
}

/* Images de déco */


#containTitle{
    width: fit-content;
    margin: auto;
    position: relative;
}

.picDecoTitle{
    width: 186px;
    top: -50px;
    left: -70px;
    height: 184px;
    z-index: -2;
    position: absolute;
}

.picDeco{
    position: absolute;
    width: 350px;
    height: 320px;
    top: 0;
    right: 0;
    z-index: -1;
}

/* Menu burger Off */

#burgerContain{
    display: none;
}

/* Apparition au scroll */

.reveal{
    opacity: 0;
    transform: translateY(-30px);
}

.reveal-visible{
    opacity: 1;
    transform: translateY(0);
    transition: 1s cubic-bezier(.5, 0, 0, 1);
}

/* La flèche pour remonter sur smartphones */

#arrowUpContain{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #fed482;
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 99999999;
    box-shadow: inset 0 0 10px white;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: .5s;
    cursor: pointer;
}

#arrowUpContain img{
    width: 75%;
    height: 75%;
    animation: arrowUp cubic-bezier(.5, 0, 0, 1) infinite 2s;
}


@keyframes arrowUp {
    0% {
        transform: translateY(5%);
    }

    25% {
        transform: translateY(-15%);
    }

    75% {
        transform: translateY(5%);
    }

    100% {
        transform: translateY(5%);
    }
}
