/* INDEX */

* {
    font-family: 'Oswald', sans-serif;
}

.flex{
    display: flex;
}

section{
    height: 100vh;
    width: 100%;
}


.imgaccueil{
    height: 100vh;
    transition: 0.3s;
    width: 40%;
    position: relative;
}

.imgaccueil:hover{
    width:50%;
}

.middle{
    width:20%;
    margin: 0 1px;
}

.middle h2{

    margin-left: -73px !important;
}

.middle:hover{
    width:35%;
}

.pages h2{
    position: absolute;
    bottom: 50%;
    left:50%;
    margin-left: -110px;
    color: white;
    text-shadow: black 2px 2px 2px;
    font-family: 'Oswald', sans-serif;
    border-top: solid black 5px;
    border-bottom: solid black 5px;
    border-radius: 15px;
    background: rgb(0,0,0,0.15);
    padding: 0 10px 10px 10px;
    object-position: 50% 50%;
}

.pages h2::first-letter{
    font-family: 'Playball', cursive;
    font-size: 2em;
    margin-right: 6px;
}

.pages a:nth-of-type(2) h2::first-letter{
    font-family: 'Oswald', sans-serif;
}


header{
    position: fixed;
    width: 100%;
    background: no-repeat 25% 65% / cover url("../img/sunset.jpg");



filter: drop-shadow(16px 16px 20px #fed482);

    
}

nav{
    margin:auto;
    width: 100%;
    position: relative;
    z-index: 1;
    cursor: pointer;
}

#logo img{
    width: 250px;
    margin: auto;
    border-radius: 60px;
}

.navbarre{
    height: 1.5px;
    position: absolute;
    width:0%;
    top: 50%;
    transition: 1s;
}

.navbarre:first-of-type{
    right:50%;
    margin-right: 125px;
}

.navbarre:last-of-type{
    left: 50%;
    margin-left: 125px;
}

header:hover .navbarre{
    width: calc(50% - 125px);
}

header:hover .navoptions{
    opacity: 1;
}

.navoptions {
    opacity: 0;
    position: absolute;
    z-index: 99;
    font-family: 'Montserrat Alternates', sans-serif;
    -webkit-text-stroke: 0.1px black;
    text-shadow: black 0px 0px 2px;
    font-size: 1em;
    transition: 0.2s;
}


.navbarre:first-of-type .navoptions:nth-child(2n+1),
.navbarre:last-of-type .navoptions:nth-child(2n+1)
 {
    top: -30px;
}

.navbarre:first-of-type .navoptions:nth-child(2n),
.navbarre:last-of-type .navoptions:nth-child(2n)
 {
    bottom: -30px;
}


/* BARRE GAUCHE */

.navbarre:first-of-type .navoptions:first-of-type{
    right: 15%;
}

.navbarre:first-of-type .navoptions:nth-of-type(2){
    right: 40%;
}

.navbarre:first-of-type .navoptions:last-of-type{
    right: 70%;
}

/* BARRE DROITE */

.navbarre:last-of-type .navoptions:first-of-type{
    left: 15%;
}

.navbarre:last-of-type .navoptions:nth-of-type(2){
    left: 40%;
}

.navbarre:last-of-type .navoptions:last-of-type{
    left: 70%;
}

footer{
    text-align: center;
    margin: auto;
    flex-direction: column;
    background-color: #121212;
    color: silver;
    padding: 0 70px;
    letter-spacing: 0.5px;
}

footer h2, footer p{
    margin: 30px 0;
    position: relative;
}

footer h2::after{
    content: "";
    background-color: silver;
    height: 1px;
    width: 100px;
    position: absolute;
    bottom: -15px;
    left: 50%;
    margin-left: -50px;

}

.menu li{
    margin-right: 20px;
}

.menu{
    margin: auto;
}

footer a{
    color: silver;
}

.reseaux{
    display: flex;
    margin:  20px auto 0 auto;
}

.reseaux li {
    width: 50px;
    margin-right: 10px;
    transition: 0.2s;
}

.reseaux li:hover{
    transform: scale(1.1);
}

@keyframes sunset {

    from { }

    to { }
    
}


