/* INDEX */

.flex{
    display: flex;
}

.imgaccueil{
    height: 100vh;
    transition: 0.3s;
    width: 40%;
    position: relative;
}

.imgaccueil:hover{
    width:50%;
}

.middle{
    width:20%;
    margin: 0 1px;
}

.middle h2{

    margin-left: -73px !important;
}

.middle:hover{
    width:35%;
}

.flex h2{
    position: absolute;
    bottom: 50%;
    left:50%;
    margin-left: -110px;
    color: white;
    text-shadow: black 2px 2px 2px;
    font-family: 'Oswald', sans-serif;
    border-top: solid black 5px;
    border-bottom: solid black 5px;
    border-radius: 15px;
    background: rgb(0,0,0,0.15);
    padding: 0 10px 10px 10px;
    object-position: 50% 50%;
}

.flex h2::first-letter{
    font-family: 'Playball', cursive;
    font-size: 2em;
    margin-right: 6px;
}

/* PAGE 1 KELIDOINE */

header{
    width: 100%;
    height: 300px;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 110px 50px;
    position: relative;
    
}

#logo_kelidoine{
    margin:auto;
    width: 250px;
    border-left: solid 1px rgb(243,239,72);
    border-right: solid 1px rgb(243,239,72);
    border-radius: 60px;
    position: absolute;
    left: 50%;
    margin-left: -125px;
}


/* PAGE 3 PISSEROTTE */

#logo_pisserotte{
    margin:auto;
    width: 250px;
    border-left: solid 1px rgb(0,74,173);
    border-right: solid 1px rgb(0,74,173);
    border-radius: 60px;
    position: absolute;
    left: 50%;
    margin-left: -125px;
    z-index: 1;
    cursor: pointer;
}

.bluenavbarre{
    background-color: rgb(0,74,173);
    height: 2px;
    position: absolute;
    width:1%;
    top: 120px;
    transition: 1s;
    left: 49%;
    transform-origin: center;
}

header:hover .bluenavbarre{
    transform: scaleX(80);
}

.navoptions {
    opacity: 0;
    position: absolute;
    z-index: 99;
    top: 40%;
    color: rgb(0,74,173);
    font-family: 'Oswald', sans-serif;
    font-size: 0.9em;
    letter-spacing: 1px;
}

.navoptions:first-of-type {
    right: 40%;
}

.navoptions:nth-of-type(2) {  
    left: 40%;
}

.navoptions:nth-of-type(3) {  
    right: 30%;
    top:60%;
} 

.navoptions:nth-of-type(4) {  
    left: 30%;
    top:60%;
} 

.navoptions:nth-of-type(5) {  
    right: 20%;
} 

.navoptions:nth-of-type(6) {  
    left: 20%;
} 


header:hover .X{
animation: X 20s ease-in;
}

header:hover .Y{
    animation: Y 20s ease-in;
    }


@keyframes X {

    0% { 
        opacity: 0;
    }

    2% { 
        opacity: 1;
        transform: translateX(-150%) scale(1.2);
    }

    85% {
        opacity: 1;
        transform: translateX(-150%) scale(1.2);
    }

    100% {
        opacity: 1;
        transform: translateX(-150%) scale(1.2);
    }

}

@keyframes Y {

    0% { 
        opacity: 0;
    }

    2% { 
        opacity: 1;
        transform: translateX(150%) scale(1.1);
    }

    85% {
        opacity: 1;
        transform: translateX(150%) scale(1.1);
    }

    100% {
        opacity: 1;
        transform: translateX(150%) scale(1.1);
    }

}

