/* INDEX */

.flex{
    display: flex;
}

.imgaccueil{
    height: 100vh;
    transition: 0.3s;
    width: 40%;
    position: relative;
}

.imgaccueil:hover{
    width:50%;
}

.middle{
    width:20%;
    margin: 0 1px;
}

.middle h2{

    margin-left: -73px !important;
}

.middle:hover{
    width:35%;
}

.flex h2{
    position: absolute;
    bottom: 50%;
    left:50%;
    margin-left: -110px;
    color: white;
    text-shadow: black 2px 2px 2px;
    font-family: 'Oswald', sans-serif;
    border-top: solid black 5px;
    border-bottom: solid black 5px;
    border-radius: 15px;
    background: rgb(0,0,0,0.15);
    padding: 0 10px 10px 10px;
    object-position: 50% 50%;
}

.flex h2::first-letter{
    font-family: 'Playball', cursive;
    font-size: 2em;
    margin-right: 6px;
}

/* PAGE 1 KELIDOINE */

header{
    padding:0 50px 50px 50px;
    position: absolute;
    width: 100%;
    height: 300px;
}

nav{

}

#logo{
    margin:auto;
    width: 250px;
    border-left: solid 1px black;
    border-right: solid 1px black;
    border-radius: 60px;
    position: absolute;
    left: 50%;
    margin-left: -125px;
}

nav:hover{
    border-radius: unset;
    background-color: red;
}








