.picDeco{
    display: none;
}

section:not(#menu){
    padding: 50px 15px;
}

.pAcc{
    margin: 50px 0;
}

#carroussel figure, #carroussel{
    height: 430px;
}

#notesBloc {
    margin-top: 20px;
}

.navbarre{
    display: none;
}


/* Menu burger */

#burgerContain{
    display: block;
}

label .menu {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
    width: 35px;
    height: 35px;
    background: #FFF;
    border-radius: 0 0 0 30%;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    box-shadow: 0 0 0 0 #fff, 0 0 0 0 #fff;
    cursor: pointer;
    
  }

label .hamburger {
    position: absolute;
    top: 15px;
    right: 7px;
    width: 20px;
    height: 2px;
    background: #69D2e7;
    display: block;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
  }
  
  label .hamburger:after, label .hamburger:before {
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: #69d2e7;
  }
  
  label .hamburger:before { top: -7px; }
  
  label .hamburger:after { bottom: -7px; }
  
  label input { display: none; }
  
  label input:checked + .menu .hamburger {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    
  }
  
  label input:checked + .menu .hamburger:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    bottom: 0;
    
  }
  
  label input:checked + .menu .hamburger:before {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 0;
    
  }
  
  label input:checked + .menu + ul { opacity: 1; }
  
  label ul {
    z-index: 200;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    -webkit-transition: .25s 0s ease-in-out;
    transition: .25s 0s ease-in-out;
    box-shadow: 0 0 50px white inset;
    width: 100%;
    height: 100%;
    padding: 0 20%;
  }
  
  label a {
    margin-bottom: 1em;
    display: block;
    text-shadow: white 0px 0px 3px;
    text-decoration: none;
    width: fit-content;
    padding: 2.5px 5px;
    transition: 0.2s;
    
  }

  #burgerContain li:last-of-type a{
    background: rgb(255, 255, 255, 0.5);
    border-radius: 2px;
  }

  #burgerContain li:first-of-type{
    list-style: none;
  }
