#logo img {
    width: 120px;
}

#notes li {
    width: 100%;
}

.arrowPic{
    width: 10%;
}

#lang-select, #langDiv{
    height: 118px;
    width: 30px;
    border-radius: 0 10px 10px 0;
}

#langDiv:hover{
    height: 118px;
}

#langDiv a{
    width:20px;
}

@media (orientation: portrait){

    #picSelected::after{
        content: 'Tournez votre téléphone pour plus de confort visuel';
        color: white;
        position: absolute;
        left: 0;
        bottom: 30px;
        text-align: center;
    }

}

